*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8eeff;
}
.container{
    position: relative;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

header{
    font-size: 20px;
    color:#333;
font-weight: 600;
text-align:center;
}

textarea{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px 20px;
}
button{
    width: 100%;
    padding: 12px 0;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #6e93f7;
    border-radius: 20px;
    font-weight: 600;
    transition: all,0.3s ease;
}

button:hover{
    background-color: #4070f4;
}

h6{
    font-size: 15px;
}
h6 a{
    text-decoration: none;
}

#main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}